<!DOCTYPE html>
<html>
<head>
    <title>Mi buscador</title>
    <!-- Agregamos el enlace a Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container"> <!-- Usamos la clase container para centrar el contenido -->
        <h1 class="text-center">Buscador</h1> <!-- Usamos la clase text-center para alinear el texto al centro -->
        <form method="get" action="{% url 'buscar' %}" class="form-group"> <!-- Usamos la clase form-group para darle estilo al formulario -->
            <label for="palabras_clave">Palabras clave:</label>
            <input type="text" name="palabras_clave" required class="form-control"> <!-- Usamos la clase form-control para darle estilo al campo de texto -->
            <input type="submit" value="Buscar" class="btn btn-primary"> <!-- Usamos la clase btn btn-primary para darle estilo al botón -->
        </form>
    </div>
</body>
</html>

